<div>
  <nav>
    <div class="flex justify-between py-2 w-screen bg-gray-200 mb-3 ">
      <h1 class="text-3xl mx-4 font-bold font-serif">
        Scratch
      </h1>
   </div>
    <ul class="w-screen flex gap-2 justify-evenly fixed bottom-0 py-1 bg-gray-100 z-10 items-center">
      <li class="inline">
        <a href="/shop" class="flex flex-col justify-center items-center">
          <img src="/images/icons/store_icon.png" alt"Shop" class="w-11 h-11"></img>
          <span class="text-xs">Shop</span>
        </a>
      </li>
      <li class="inline">
        <a href="/users/cart"class="flex flex-col justify-center items-center" >
          <img src="/images/icons/shopping_cart.png" alt"Cart" class="w-11 h-11"></img>
          <span class="text-xs">Cart</span>
        </a>
      </li>
      <li class="inline">
        <a href="/users/account"class="flex flex-col justify-center items-center">
          <img src="/images/icons/account_circle.png" alt"Profile" class="w-11 h-11"></img>
          <span class="text-xs mt-0">Profile</span>
        </a>
      </li>
    </ul>
  </nav>
</div>